# Visual Studio temporary files and folders
.vs/
*.suo
*.user
*.bak
*.log
*.obj
*.pdb
*.ilk
*.aps
*.ncb
*.sbr
*.bsc
*.res
*.tlb
*.tlh
*.tmp
*.vspscc
*.vssscc
*_i.c
*_p.c
*.idb
*.lib
*.exp
*.map
*.com
*.exe
*.dll
*.ocx
*.manifest
*.lastbuildstate
[Dd]ebug/
[Rr]elease/
bin/
obj/
ipch/
*.VC.db
*.VC.opendb
*.sdf
*.cache
*.opendb